#add-peer-form {
    display: inline-block;
}

#chatlog {
    border: 1px solid rgb(194, 194, 194);
    height: 300px;
    overflow: scroll;
}

#chatlog img {
    max-width: 80%;
    max-height: 80%;
}

.author {
    vertical-align: top;
    font-weight: bold;
}

.author:after {
    content: ': ';
    vertical-align: top;
    font-weight: bold;
}

#clients-info {
    height: 30px;
    padding: 1px 0;
}

#clients-info button {
    margin-top: 6px;
}

.add-peer {
    padding: 5px;
    margin-right: 5px;
    background-color: black;
    color: white;
    display: inline-block;
    cursor: pointer;
}

#ban-form {
    display: inline-block;
}